---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import "../../styles.css";
import {getLangFromUrl} from "../../i18n/utils";
import {about, getTranslationAbout} from "../../i18n/translations/about";
import About from "../../components/AboutComponent.astro";
import Skills from "../../components/Skills.astro";
import Experience from "../../components/Experience.astro";
import AboutComponent from "../../components/AboutComponent.astro";

const lang = getLangFromUrl(Astro.url);

// Get the translation for the current language
const t = getTranslationAbout(lang)
export function getStaticPaths() {
    return about.map(t => ({params: t.params}));
}
---
<html lang={lang} >
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/account.png"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}>
    <title>{t["pageTitle"]}</title>
</head>

<body class="text-black dark:text-gray-200 dark:bg-gray-900">
<Header/>
<div class="flex items-center justify-center">
    <div class="w-4/5 sm:w-1/2">
        <div class="text-2xl sm:text-3xl font-bold text-center underline underline-offset-8 m-10">{t["pageTitle"]}</div>
        <AboutComponent lang={lang}/>

        <div class="text-3xl font-bold text-center underline underline-offset-8 m-10">{t["hobbies"]}</div>
        <div class="text-xl mb-10">

        </div>

        <div class="text-2xl sm:text-3xl font-bold text-center underline underline-offset-8 m-10">{t["skills"]}</div>
        <div class="mb-10">
            <Skills lang={lang}/>
        </div>

        <div class="text-2xl sm:text-3xl font-bold text-center underline underline-offset-8 m-10">{t["experience"]}</div>
        <div class="mb-10">
            <Experience lang={lang}/>
        </div>
    </div>
</div>
<Footer/>
</body>
</html>