---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import "../../styles.css";
import {getLangFromUrl} from "../../i18n/utils";
import {getTranslationIndex, index} from "../../i18n/translations";
let lang: string = getLangFromUrl(Astro.url);

// Get the translation for the current language
const t = getTranslationIndex(lang)
export function getStaticPaths() {
    return index.map(t => ({params: t.params}));
}

---


<html lang={lang}>
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="google-site-verification" content="GGca_5_PiIGMOfytpRac2guonC4uY3RN5wUjTlXENXM" />
    <meta name="generator" content={Astro.generator}>
    <title>{t["pageTitle"]}</title>
</head>

<body>
<Header/>
<div class="dark:bg-gray-900 sm:px-60 text-black dark:text-amber-50">
    <div class="flex flex-col sm:flex-row justify-center items-center sm:py-32 ">
        <div class="w-4/5 sm:w-fit justify-center items-center flex ">
            <img class="aspect-auto h-96"
                 src="https://static.everypixel.com/ep-pixabay/0329/8099/0858/84037/3298099085884037069-head.png"
                 alt="asda">
        </div>
        <div class="mt-10 sm:mt-0 sm:ml-10 w-4/5 sm:w-1/2 justify-center items-center flex">
            <div class=" flex flex-col">
                <div class="text-xl font-thin">{t["hiim"]}</div>
                <div class="text-6xl font-bold">{t["myname"]}</div>
                <div class="text-xl  basis-1/5 text-pretty mt-3">{t["welcometext"]}
                </div>
            </div>
        </div>
    </div>
        <div class="flex flex-col justify-center items-center">
            <a href={`/${lang}/about/`}>
                <div class="text-3xl font-bold text-center underline underline-offset-8 m-10">{t["aboutme"]}</div>
            </a>
            <div class="w-4/5 sm:w-full text-xl mb-10">I am a student of computer science at the <a
                    href="https://www.upjs.sk/prirodovedecka-fakulta/en/" class="underline hover:font-semibold">Faculty
                of Science</a> at the <a class="underline hover:font-semibold" href="https://www.upjs.sk/en/">University
                of Pavol Jozef Šafárik in Košice</a>. I am interested in web development and machine learning. Lorem
                ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                vitae, justo.
            </div>

            <a href={`/${lang}/about/`}>
                <div class="text-3xl font-bold text-center underline underline-offset-8 m-10">{t["aboutme"]}</div>
            </a>
            <div class="w-4/5 sm:w-full text-xl mb-10">I am a student of computer science at the <a
                    href="https://www.upjs.sk/prirodovedecka-fakulta/en/" class="underline hover:font-semibold">Faculty
                of Science</a> at the <a class="underline hover:font-semibold" href="https://www.upjs.sk/en/">University
                of Pavol Jozef Šafárik in Košice</a>. I am interested in web development and machine learning. Lorem
                ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                vitae, justo.
            </div>
        </div>
</div>
<Footer/>
</body>
</html>